#---------------------------------#
#      environment configuration  #
#---------------------------------#

version: 1.2.4.{build}
environment:
  gallery_api:
    secure: lbDrWTaiRIaEUnUacZbYJHSaCGvAZfz8HsfoaE5uc5NuoebPCvptrlXzRTHN10v9

install:
    - git clone https://github.com/PowerShell/DscResource.Tests
    - ps: Write-Verbose -Message "PowerShell version $($PSVersionTable.PSVersion)" -Verbose
    - ps: Import-Module -Name "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
    - ps: Invoke-AppveyorInstallTask

#---------------------------------#
#      build configuration        #
#---------------------------------#

build: false

#---------------------------------#
#      test configuration         #
#---------------------------------#

test_script:
    - ps: |
        Invoke-AppveyorTestScriptTask -CodeCoverage -CodeCovIo

# scripts to run before deployment
after_test:
  - ps: |
        Import-Module -Name "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
        #Invoke-AppveyorAfterTestTask -Type Wiki -Author 'sergei.s.betke' -Owners 'sergei.s.betke'
        Invoke-AppveyorAfterTestTask -Author 'sergei.s.betke' -Owners 'sergei.s.betke'

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

before_deploy:
  - ps: >-
      ${env:ReleaseNotes} = ( Import-Module $env:APPVEYOR_BUILD_FOLDER -Force -PassThru ).ReleaseNotes;
deploy:
  - provider: GitHub
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: $(ReleaseNotes)
    auth_token:
      secure: H6HQrXUd6e0XBLfgdcrQ7T78c3+NTlMF92eBHy79j9W1n20zW8uJDNKzk0v82VM9
    artifact:
    draft: false
    prerelease: false
    force_update: false
    on:
      branch: master
      APPVEYOR_REPO_TAG: true

deploy_script:
  - ps: |
        $ErrorActionPreference = 'Continue'
        $deploy = ( $env:APPVEYOR_REPO_TAG -eq $true )
        if ( $deploy )
        {
          git clean -ffdx
          Remove-Item -Path '.*','Examples','Tests','*.json' -Recurse -Force
          Publish-Module -Path . -NuGetApiKey $env:gallery_api
        }
