#---------------------------------#
#      environment configuration  #
#---------------------------------#

version: 1.0.4.{build}
environment:
  gallery_api:
    secure: lbDrWTaiRIaEUnUacZbYJHSaCGvAZfz8HsfoaE5uc5NuoebPCvptrlXzRTHN10v9

install:
    - git clone https://github.com/PowerShell/DscResource.Tests
    - ps: Write-Verbose -Message "PowerShell version $($PSVersionTable.PSVersion)" -Verbose
    - ps: Import-Module -Name "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
    - ps: Invoke-AppveyorInstallTask

#---------------------------------#
#      build configuration        #
#---------------------------------#

build: false

#---------------------------------#
#      test configuration         #
#---------------------------------#

test_script:
    - ps: |
        Invoke-AppveyorTestScriptTask -CodeCoverage -CodeCovIo

# scripts to run before deployment
after_test:
  - ps: |
        Import-Module -Name "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
        #Invoke-AppveyorAfterTestTask -Type Wiki -Author 'sergei.s.betke' -Owners 'sergei.s.betke'
        Invoke-AppveyorAfterTestTask -Author 'sergei.s.betke' -Owners 'sergei.s.betke'

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

deploy_script:
  - ps: |
        $ErrorActionPreference = 'Continue'
        $deploy = ( $env:APPVEYOR_REPO_TAG -eq $true )
        #if ( $deploy )
        #{
          $gitOut = git clean -ffdX 2>&1
          Remove-Item -LiteralPath '.git' -Recurse -Force
          Publish-Module -Path . -NuGetApiKey $env:gallery_api
        #}
